name: GitHub pages

on: [push]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Build
        uses: andstor/jsdoc-action@v1
        with:
          source_dir: ./src/index.js
          output_dir: ./out
          config_file: ./jsdoc.json
          template: docdash
          front_page: README.md
      - name: Copy images
        run: cp -r ./img ./out/img/
      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./out